<div>
    <!-- <h2>Enter Product</h2>
    <form action="/api/products" method="post" enctype="multipart/form-data">
        <label for="title">Product name</label><br>
        <input type="text" name="title" id="title" required><br>

        <label for="price">Price</label><br>
        <input type="number" name="price" id="price" required><br>

        <label for="thumbnail">Product photo URL</label><br>
        <input type="text" name="thumbnail" id="thumbnail" required><br>

        <button type="submit">Send</button>
    </form> -->
    <h2>List of products</h2>
    <div>
        <% if (cartExist) { %>
            <div class="table-responsive">
                <table class="table table-dark">
                    <tr> <th>Nombre</th> <th>Precio</th> <th>Foto</th></tr>
                    <% products.forEach(product=>{ %>
                        <tr> <td><%= product.title %></td> <td><%= product.price %></td> <td><img width="50" src=<%= product.thumbnail %> alt="not found"></td> </tr>
                        <button><a href="/createOrder">Finish Order</a></button>
                    <% }); %>
                </table>
            </div>
        <% } else { %>
            <h2>No products found</h2>
        <% } %>
    </div>
    <hr>
</div>