<div class="containerWelcome">
    <div>
        <h1>Welcome <%= nombreDeUsuario %>!</h1>
    </div>
    <div>
        <button class="logoutButton" id="logOutButton"><a href="/api/auth/logout">Log out</a></button>
    </div>
</div>