<form action="/products" method="post">
    <div>
        <div>
            <h1>Enter Products</h1>
            <div>
                <div>
                    <label for="title">Product name:</label><br>
                    <input type="text" id="title" name="title">
                </div>
                <div>
                    <label for="price">Product price:</label><br>
                    <input type="number" id="price" name="price">
                </div>
                <div>
                    <label for="thumbnail">PhotoURL:</label><br>
                    <input type="text" id="thumbnail" name="thumbnail">
                </div>
                <div>
                    <button type="submit">Send</button>
                </div>
            </div>
        </div>
    </div>
</form>