<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Muebleria-Login</title>
</head>
<body>
    <h1>Login</h1>
    <form action="/api/auth/login" method="post" enctype="multipart/form-data">
        <div>
            <label for="username">Username</label><br>
            <input type="text" name="username" id="username" placeholder="Enter Email">
        </div>
        <div>
            <label for="password">Password</label><br>
            <input type="password" name="password" id="password" placeholder="Password">
            <a href="/api/auth"><button type="submit" id="send">Login</button></a>
        </div>
    </form>

    <div>
        <h2>or</h2>
        <span>Login with github!</span><br><br>
        <button><a href="/api/auth/github">Login with Github!</a></button>
    </div>

    <div>
        <h3>Don't have an account?</h3>
        <h4>Sign-up here!</h4>
        <button><a href="/api/auth/register">Go register!</a></button>
    </div>
</body>
</html>