<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Muebleria-Register</title>
</head>
<body>
    <h1>Register</h1>
    <form action="/api/auth/register" method="post">
        <div>
            <label for="username">Username</label><br>
            <input type="text" name="username" id="username" placeholder="Enter Email">
        </div>
        <div>
            <label for="password">Password</label><br>
            <input type="password" name="password" id="password" placeholder="Password">
            <button type="submit" id="send">Register</button>
        </div>
        <div>
            <span>already signed-up? Login in here!</span>
            <button><a href="/api/auth/login">Go to login</a></button>
        </div>
    </form>
</body>
</html>