<nav>
    <h1>Usando EJS</h1>
    <ul>
        <li>
            <a href="/"> Ejs prueba</a>
        </li>
        <li>
            <a href="/"> contactos</a>
        </li>
        <li>
            <a href="/"> ejemplos</a>
        </li>
        <li>
            <a href="/"> otras cosas</a>
        </li>
    </ul>
</nav>