<div>
    <h2>Historial</h2>
    <div>
        <table>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Edad</th>
            </tr>
            <% usuarios.forEach(usuario => { %>
                <tr>
                    <th><%=usuario.fname%></th>
                    <th><%=usuario.lname%></th>
                    <th><%=usuario.age%></th>
                </tr>
            <% }) %>
        </table>
    </div>
</div>