<!DOCTYPE html>
<html lang="en">
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
    
        td,th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
    
        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
    <%- include('../partials/head') %>
<body>
    <% if (products.length !== 0) { %>
        <%- include('../partials/table') %>
    <% } else { %>
        <h2>No se encuentra datos</h2>
    <% } %>

    <a href="/"> <button>Go Home</button> </a>
</body>
</html>