<div>
    <h2>Product List</h2>
    {{#if listExist}}
        <div>
            <table>
                <tr>
                    <th>Title</th>
                    <th>Price</th>
                    <th>Photo URL</th>
                </tr>
                {{#each products }}
                    <tr>
                        <th>{{this.title}}</th>
                        <th>{{this.price}}</th>
                        <th> <img src={{this.thumbnail}} alt="" border=1 height=48 width=48></th>
                    </tr>
                {{/each}}
            </table>
        </div>
    {{else}}
        <p>No se encuentra Datos</p>
    {{/if}}

    <a href="/"> <button>Go Home</button> </a>
</div>